<<<<<<< HEAD
@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three equal columns that floats next to each other */
.imgbox {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.box:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .imgbox {
    width: 100%;
=======
@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three equal columns that floats next to each other */
.imgbox {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.box:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .imgbox {
    width: 100%;
>>>>>>> branch 'master' of https://gitlab.com/MHPhoenix/tp1-progweb.git
  }