@charset "UTF-8";

body {
	margin: 0;
	padding:0;
	background-image: url("../images/hallstatt-3609863_1920.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.logo {
	width: 250px;
	height: 100px;
	border-radius: 8px;
}

.slogan {
	text-align: center;
	color: lime;
	font-family: cursive;
	font-style: oblique;
	font-size: medium;
	margin: 5px;
}

.glyphicon {
	
	float: right;
	margin: 5px;
	color: white;
}

.lien {
	color: white;
	text-decoration: none;
}

.lien:hover {
	color: lime;
}

footer {
	padding: 20px;
	background-color: black;
	color: white;
	margin-top: 20px;
	border-radius: 8px;
	position: scroll;
}

strong{
	color: lime;
	font-size: x-large;
	font-style: italic;
	font-family: fantasy;
}

ul.barre, ul.menu {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: black;
  	border-radius: 8px;
}

.barre li a, .menu li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

.barre li, .menu li {
	float: left;
}

.barre a:hover, .dropdown:hover, .menu a:hover {
	background-color: lime;
	color: black;
	text-decoration: none;
}

.dropdown li a{
	display: block;
	
}

.dropdown {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

a.dropdown {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
	background-color: lime;
	color: black;
	text-decoration: none;
}

.dropdown:hover .dropdown {
  display: block;
}

ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

@media screen and (max-width: 1027px) {
  ul.barre li, .glyphicon {
  	float: none;
  }
}

.content{
	color: white;
	font-family: cursive;
